<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="cube-06">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.00187963056678342" />
      <inertia
        ixx="4.67648900046542E-07"
        ixy="-6.20165257082959E-09"
        ixz="-1.41758459243068E-24"
        iyy="4.59239386606631E-07"
        iyz="3.04784998736678E-23"
        izz="9.26575014892043E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cube-06/meshes/base_link.STL" />
      </geometry>
      <material
        name="baseColor">
        <color
          rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cube-06/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="black">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.00187963056678343" />
      <inertia
        ixx="4.67648900046543E-07"
        ixy="-9.35650608655308E-25"
        ixz="6.2016525708296E-09"
        iyy="9.26575014892044E-07"
        iyz="7.82826049599551E-26"
        izz="4.59239386606632E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cube-06/meshes/black.STL" />
      </geometry>
      <material
        name="codeColor">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cube-06/meshes/black.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j1"
    type="fixed">
    <origin
      xyz="-0.05934 0.025 0.020733"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="black" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>